<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="icon" th:href="@{/assets/images/logo/logo.png}" />
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
</head>
<body onload="renderContent()">
    <div class="container">
        <div class="wrapper">
            <div id="header"></div>
            <main class="main-content">
                <input type="text" id="searchBar" class="input-field" placeholder="Search by doctor name" />
                <div class="filter-wrapper">
                    <select id="filterTime" class="select-dropdown">
                        <option value="">All Times</option>
                        <option value="09:00-10:00">09:00-10:00</option>
                        <option value="10:00-11:00">10:00-11:00</option>
                        <option value="11:00-12:00">11:00-12:00</option>
                        <option value="12:00-13:00">12:00-13:00</option>
                        <option value="13:00-14:00">13:00-14:00</option>
                        <option value="14:00-15:00">14:00-15:00</option>
                        <option value="15:00-16:00">15:00-16:00</option>
                        <option value="16:00-17:00">16:00-17:00</option>
                    </select>
                    <select id="filterSpecialty" class="select-dropdown">
                        <option value="">All Specialties</option>
                        <option value="Cardiologist">Cardiologist</option>
                        <option value="Neurologist">Neurologist</option>
                        <option value="Orthopedist">Orthopedist</option>
                        <option value="Pediatrician">Pediatrician</option>
                        <option value="Dermatologist">Dermatologist</option>
                    </select>
                </div>
                <div id="content"></div>
            </main>
            <div id="footer"></div>
        </div>
    </div>

    <div id="modal" class="modal">
        <div id="modal-body"></div>
    </div>

    <script type="module" th:src="@{/js/adminDashboard.js}" defer></script>
    <script type="module" th:src="@{/js/components/doctorCard.js}" defer></script>
</body>
</html>