<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Dashboard</title>
    <link rel="icon" th:href="@{/assets/images/logo/logo.png}" />
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
    <script th:src="@{/js/components/patientRows.js}" defer></script>
</head>
<body onload="renderContent()">
    <div class="container">
        <div class="wrapper">
            <div id="header"></div>
            <main class="main-content">
                <input type="text" id="searchBar" class="input-field" placeholder="Search by patient name" />
                <div class="filter-wrapper">
                    <button id="todayButton" class="button">Today's Appointments</button>
                    <input type="date" id="datePicker" class="input-field" />
                </div>
                <table id="patientTable">
                    <thead>
                        <tr>
                            <th>Patient ID</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Prescription</th>
                        </tr>
                    </thead>
                    <tbody id="patientTableBody"></tbody>
                </table>
            </main>
            <div id="footer"></div>
        </div>
    </div>

    <div id="modal" class="modal">
        <span id="closeModal" class="close">&times;</span>
        <div id="modal-body"></div>
    </div>

    <script type="module" th:src="@{/js/doctorDashboard.js}" defer></script>
</body>
</html>